/*esta es mi hoja de estilos*/

* {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

html {
  font-size: 1em;
  font-family: 'Ubuntu Mono', sans-serif;
}
@media (min-width: 25em) { /* 400px */
  html {
    font-size: calc(1rem + (1.2 - 1) * (100vw - 25em) / (100 - 25));
  }
}
@media (min-width: 100em) { /* 1600px */
  html {
    font-size: 1.2rem;
  }

}
body {
  background: white;
  line-height: 1.5;
  color: #323232;
}
.canvas {
  max-width: 1599px;
  margin: auto;
}

.size-h1 {
  font-size: 1.3rem;
}
@media (min-width: 25em) { /* 400px */
  .size-h1 {
    font-size: calc(1.3rem + (3 - 1.3) * (100vw - 25em) / (100 - 25));

  }
}
@media (min-width: 100em) { /* 1600px */
  .size-h1 {
    font-size: 3rem;
  }
}

.size-h2 {
  font-size: 1.2rem;
}
@media (min-width: 25em) { /* 400px */
  .size-h2 {
    font-size: calc(1.2rem + (2 - 1.2) * (100vw - 25em) / (100 - 25));

  }
}
@media (min-width: 100em) { /* 1600px */
  .size-h2 {
    font-size: 2rem;
  }
}

/*Styling general*/

.centered {
  text-align: center;
}

ul li {
  list-style: none;
}
a:link {
  text-decoration: none;
  color:#5A2BD1;
}
a:visited {
  color:#5A2BD1;
}
a:hover {
  color: #5A2BD1;
}


/*Styling the header*/

.header {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: baseline;
  box-shadow: 2px 2px 8px lightgray;
  align-items: center;
}
.header .content-element {
  font-family: 'Roboto';

}
@media (min-width: 40.75em) {
  .header {
    justify-content: space-between;
  }
}
.information-link {
  display: flex;
  align-items: center;
  font-family: 'Mali', sans-serif;
  margin-right: 0.5rem;
  font-size: 0.9em;
}
.information-link>div:first-child {
  margin-right: 1rem;
  align-self: center;
}

/*Styling main division*/

.main-division, .tf-image {
  max-width: 30rem;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.main-division1, .form-division {
  padding: 0.5rem;
}

.form-division {
  border: 4px solid lavender;
  box-shadow:6px 5px 11px -1px #AAAAAA;
  border-radius: 50px 50px 5px 50px;
  margin: 1rem;
}

/*Styling the image*/

.tf-image {
  text-align: center;
  margin-top: 2rem;
}

/*Styling footer*/

.tf-footer {
 font-family: "Mali";
 text-align: center;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
 color: #B986C7;

}
